@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mlqckx');
  src:  url('fonts/icomoon.eot?mlqckx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mlqckx') format('truetype'),
    url('fonts/icomoon.woff?mlqckx') format('woff'),
    url('fonts/icomoon.svg?mlqckx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-octagon:before {
  content: "\e902";
}
.icon-alert-triangle:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e90e";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-edit-2:before {
  content: "\e903";
}
.icon-inbox:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-shopping-cart:before {
  content: "\e90a";
}
.icon-star:before {
  content: "\e90b";
}
.icon-truck:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-x-circle:before {
  content: "\e904";
}
